

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>会员登录</title>

    <script type="text/javascript" src="./css/CheckAgent.txt"></script>
    <link rel="stylesheet" href="./css/hua.css">
    <link rel="stylesheet" type="text/css" href="./css/login.css">
    <link type="text/css" rel="stylesheet" href="./css/v4.css">
    <link type="text/css" rel="stylesheet" href="./css/public2020.css.css">
    <link rel="stylesheet" type="text/css" href="./css/318.css">
    <!--[if lte IE 9]>
    <style>
        .pwd-input{
            display:none;
        }
    </style>
    <![endif]-->
    <style>
        body {
            color: #737373;
        }
    </style>

    <style>
        
    </style>
    <!--[if lt IE 9]>
        <script src="./css/min.js"></script>
    <![endif]-->
</head>
<body class="home">


<section class="login-wrapper">
    <div class="container">
        <div class="login-box">
            <ul class="login-tabs">
                <li class="login-account">手机登录</li>
                <!-- <li class="login-wx">账户登录</li> -->
            </ul>
            <!-- 账号登录 -->
            <div id="form1">
                <div class="login-form login-form-box" style="display:block;">
                    <p class="login-form-box-toggle">
                        <a class="toggle-opt" href="javascript:;" style="display:none;"><i class="mini-icon icon-message"></i>手机验证码登录</a>
                        <a class="toggle-apt" href="javascript:;" style="display:block;"><i class="mini-icon icon-unlocked"></i>账号密码登录</a>
                    </p>
                    <!-- 手机快捷登录 -->
                    <div class="login-form-phone" style="display:block;">
                        <div class="tel-box">
                            <div class="input-box">
                                <span class="icon icon-iphone"></span>
                                <input id="UserPhone" name="UserPhone" class="account" type="text" placeholder="请输入手机号">
                            </div>
                            <p class="tips"></p>
                        </div>
                        <div id="verifyBox2" class="verify-box verify-box2">
                            <div class="input-box">
                                <input id="phonePicCode" name="phonePicCode" class="verify" type="text" autocomplete="off" placeholder="请输入图形验证码">
                                <a href="javascript:RefreshImage2('imgCaptcha2');"><img id="imgCaptcha2" src="/ImgAuthenCode/index"></a>
                            </div>
                            <p class="tips"></p>
                        </div>
                        <div class="code-box">
                            <div class="input-box">
                                <span class="icon icon-message"></span>
                                <input id="phoneSmsCode" name="phoneSmsCode" class="pwd" type="text" placeholder="请输入短信验证码" autocomplete="off">
                                <button id="getcodeBtn" class="get-code" href="#">获取验证码</button>
                                <div id="prompt_info" style="display:none;"><span id="regetcode">90</span>秒后重新发送</div>
                            </div>
                            <p class="tips"></p>
                        </div>
                        <input class="form-btn login-btn" type="button" onClick="CheckPhoneLogin();" value="登录">
                        
                    </div>

                    <!-- 账号密码登录 -->
                    <div class="login-form-pwd" style="display:none;">
                        <div class="account-box">
                            <div class="input-box">
                                <span class="icon icon-iphone"></span>
                                <input id="UserName" name="UserName" class="account" type="text" placeholder="请输入手机号/邮箱">
                            </div>
                            <p class="tips"></p>
                        </div>
                        <div class="pwd-box">
                            <div class="input-box">
                                <span class="icon icon-unlocked"></span>
                                <!--[if lte IE 9]>
                                <div class="cover-pwd" data-placeholder="请输入密码">请输入密码</div>
                                <input id="PassWord" name="PassWord" class="pwd" type="password">
                                <![endif]-->
                                <input id="PassWord" name="PassWord" class="pwd pwd-input" type="password" placeholder="请输入密码">
                            </div>
                            <p class="tips"></p>
                        </div>
                        <div id="verifyBox1" class="verify-box verify-box1">
                            <div class="input-box">
                                <input id="ValidCode" name="ValidCode" class="verify" type="text" autocomplete="off" placeholder="请输入验证码">
                                <a href="javascript:RefreshImage('imgCaptcha1');"><img id="imgCaptcha1" src="/ImgAuthenCode/index"></a>
                            </div>
                            <p class="tips"></p>
                        </div>
                        <input class="form-btn login-btn" type="button" onClick="return Check_User_Login()" id="dosubmit" value="登录">
                      
                    </div>
                </div>
            </div>

            <!-- 微信扫码登录 -->
            <div class="login-form login-form-wx" style="display:none;">
                <div id="QrCodeBox" class="qrcode-box">
                    
                    
                </div>
            </div>

            <div class="bottom-box">
                <ul class="other-login-ways">
                    
                    <li class="extra-r"><a href="/Passport/Register/">注册账号<i class="icon icon-arrow-right-active"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

    
    <!-- 弹出窗口end-->

        <script type="text/javascript" src="https://img02.hua.com/pc/assets/js/commonV1.js?z1"></script>
            <script type="text/javascript" src="//img02.hua.com/pc/js/statesandright.js"></script>
    
    <script type="text/javascript" src="https://img02.hua.com/pc/js/mailautocomplete.js"></script>
    <script type="text/javascript" src="https://img02.hua.com/pc/js/geetest/gt.js"></script>
    <script type="text/javascript" src="https://img02.hua.com/pc/assets/js/verifyMethodSwitch.js?v3"></script>
    <script type="text/javascript" src="https://img02.hua.com/pc/assets/js/pc_Login_CommonV2.js?v3"></script>

    <script type="text/javascript" charset="utf-8">
        function analytics(pageName1, actionType) {

            try {
                if (!actionType) {
                    actionType = "click";
                }
                $.ajax({
                    url: "/huactrler/AnalyticsV1",
                    type: "post",
                    data: {
                        pageName: pageName1,
                        actionType: actionType
                    }
                });
            } catch (e) {

            }
            return true;
        };


        $(function () {
            // 表单切换
            var loginTabs = $('.login-tabs li');  // Tab

            var loginAccount = $('.login-account');     // 账号登录

            var loginForm = $('.login-form');   // Form
            var loginFormWx = $('.login-form-wx');  //  微信
            var loginFormBox = $(".login-form-box");    // 账号登录
            var loginFormPwd = $('.login-form-pwd');    // 账号密码
            var loginFormCode = $('.login-form-phone');     // 手机短信

            loginTabs.click(function () {
                loginTabs.removeClass('active');
                $(this).addClass('active');
                if ($(this).hasClass("login-account")) {
                    loginForm.css({ "display": "none" });
                    loginFormBox.css({ "display": "block" });
                    window.clearInterval(interval1);
                }
                else if ($(this).hasClass("login-wx")) {
                    loginForm.css({ "display": "none" });
                    loginFormWx.css({ "display": "block" });
                    interval1 = window.setInterval(intervalFunc1, 5000);
                }
            });

            // cookie无记录，根据显示的表单高亮对应Tab
            if (loginFormWx.css("display") != "none") {
                loginTabs.removeClass('active');
                loginWx.addClass("active");
            }
            else if (loginFormBox.css("display") != "none") {
                loginTabs.removeClass('active');
                loginAccount.addClass("active");
            }

            // 账号登录切换登录方式
            var loginToggle = $(".login-form-box-toggle>a");
            var toggleOpt = $(".toggle-opt");   // 短信验证码登录
            var toggleApt = $(".toggle-apt");   // 账号密码登录
            loginToggle.click(function () {
                if (loginFormCode.css("display") == "block") {       // 短信验证码登录
                    loginFormCode.hide();
                    loginFormPwd.show();
                    toggleApt.hide();
                    toggleOpt.show();
                } else if (loginFormPwd.css("display") == "block") {        // 账号密码登录
                    loginFormPwd.hide();
                    loginFormCode.show();
                    toggleOpt.hide();
                    toggleApt.show();
                }
            })

           
        });
        // 回车键
        document.onkeydown = function (event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 13) {
                // 账号密码登录表单
                var isUsernameFocus = $("#UserName").is(":focus");
                var isPasswordFocus = $("#PassWord").is(":focus");
                var isValidcodeFocus = $("#ValidCode").is(":focus");
                // 手机短信登录表单
                //var isUserphoneFocus = $("#UserPhone").is(":focus");
                var isphoneSmsCodeFocus = $("#phoneSmsCode").is(":focus");
                // Form:账号密码登录判断
                if (isUsernameFocus) {
                    $("#PassWord").focus();
                    return false;
                }
                else if (isPasswordFocus) {
                    if ($("#verifyBox1").css("display") != "none") {
                        $("#ValidCode").focus();
                        return false;
                    }
                    else {
                        Check_User_Login();
                    }
                }
                else if (isValidcodeFocus) {
                    Check_User_Login();
                }
                // Form:手机短信登录判断
                if (isphoneSmsCodeFocus) {
                    CheckPhoneLogin();
                }
            }
        };

        // 微信扫码登录
       

        // 账号密码登录
        function Check_User_Login() {
            try {
                analytics("AccountPwdLoginButtonClick");
            } catch (e) {
            }
            HideTips();

            // 账号(邮箱或手机)
            if (!Check_Account("UserName",".account-box")) {
                RefreshImage('imgCaptcha1');
                return false;
            }
            // 密码
            if (!Check_Password("PassWord",".pwd-box")) {
                RefreshImage('imgCaptcha1');
                return false;
            }

            var username = $("#UserName").val().trim();
            var pwd = $("#PassWord").val().trim();
            var code = Check_Code("ValidCode", ".verify-box1");;

            $.ajax({
                type: "POST",
                url: "/Passport/Login/MobileLoginV1",
                data: {
                    userName: username,
                    password: pwd,
                    remember: false,
                    action: "login",
                    mobile: "",
                    smsValidCode: "",
                    picValidCode: code
                },
                async: false,
                success: function (res) {
                        var data = res.Datas;
                        var failCount = data.LoginFailCount;
                        if (failCount > 3) {
                            //$("#verifyBox1").show();
                            showImgValidCode("verifyBox1");
                            RefreshImage('imgCaptcha1');
                        }
                        var class1 = ".pwd-box";
                        if (res.Status == "0"&&res.DataStatus == 0) {
                            window.location.href = data.RedirectUrl;
                        }
                        else if (res.DataStatus == 1012) {//图片验证码
                            class1 = ".verify-box1";
                        }
                        else if (res.DataStatus == 1033) {//账号格式不正确
                            class1 = ".account-box";
                        }
                        else if (res.DataStatus == 1007) {//账号不存在，或者密码不正确
                            class1 = ".pwd-box";
                        }
                        //弹出提示的位置
                        if (res.DataStatus != 0) {
                            ShowTips(res.ErrMsg || data.Message, class1);
                        }
                    }
            });
        }

        //********************手机验证码登录逻辑begin********************
        var interval = null
        var counter = 0;
        var showImgValidCode1 = false;
        var geetestLock = false;
        $(function () {
            // 发送短信验证码
            $("#getcodeBtn").click(function () {

                try {
                    analytics("PhoneLoginGetSmsCodeClick");
                } catch (e) {
                }
                HideTips();
                if (!Check_Phone("UserPhone", ".tel-box")) return false;
                var phone = $("#UserPhone").val().trim();
                var imgCode = Check_Code("phonePicCode", ".verify-box2");
                var data = {
                    mobile: phone,
                    imgCode: imgCode
                };
                if (!showImgValidCode1 && (imgCode == undefined || imgCode == "")) {
                    verifyMethodSwitch(data, sendSms);
                }
                else {
                    sendSms(data)
                }

            });
        });
        function sendSms(data) {
            $.ajax({
                type: "post",
                url: "/SmsAuthenCode/SendV3",
                data: data,
                async: false,
                success: function (res) {
                    var data = res.Datas;
                    var class1 = ".code-box";
                    if (res.Status == "0" && res.DataStatus == 0) {     // 发送成功
                        ShowTips("<span style='color:#232628'>验证码已发送请查收</span>", ".code-box");
                        counter = 0;
                        $("#getcodeBtn").hide();
                        $("#regetcode").html("90");
                        $("#prompt_info").show();
                        $("#phoneSmsCode").focus();
                        interval = window.setInterval(intervalFunc, 1000);

                        try {
                            analytics("PhoneLoginGetSmsCodeResponse", "response");
                        } catch (e) {
                        }
                    }
                    else if (res.DataStatus == 1026) {      // 需要图片验证码
                        $("#verifyBox2").show();
                        $("#phonePicCode").focus();
                        class1 = ".verify-box2";
                    }
                    else if (res.DataStatus == 1002) {     // 手机号格式不正确
                        $("#UserPhone").focus();
                        class1 = ".tel-box";
                    }
                    else if (res.DataStatus == 1012) {     // 图片验证码不正确
                        $("#verifyBox2").show();
                        RefreshImage2('imgCaptcha2');
                        $("#phonePicCode").focus();
                        class1 = ".verify-box2";
                    }
                    else if (res.DataStatus == 1003) {    // 短信验证码发送过于频繁
                        class1 = ".code-box";
                    }
                    if (res.DataStatus != 0) {
                        ShowTips(res.ErrMsg || data.Message, class1);
                    }
                }
            });
        }
        // 短信验证码倒计时
        function intervalFunc() {
            if (counter > 90) {
                counter = 0;
                $("#getcodeBtn").show();
                $("#prompt_info").hide();
                window.clearInterval(interval);
            } else {
                $("#regetcode").html((90 - counter).toString());
            }
            counter = counter + 1;
        }
        // 手机验证码登录
        function CheckPhoneLogin() {
            try {
                analytics("PhoneLoginLoginButtonClick");
            } catch (e) {
            }
            HideTips();
            if (!Check_Phone("UserPhone",".tel-box")) return false;    // 手机
            if (!Check_SmsCode("phoneSmsCode",".code-box")) return false;      // 短信验证码
            var phone = $("#UserPhone").val().trim();
            var code = $("#phoneSmsCode").val().trim();
            var imgCode = Check_Code("phonePicCode", ".verify-box2");
            $.ajax({
                type: "post",
                url: "/Passport/Login/MobileLoginV1",
                data: {
                    userName: phone,
                    password: "",
                    remember: false,
                    action: "SmsValidCodeLogin",
                    mobile: phone,
                    smsValidCode: code,
                    picValidCode: imgCode
                },
                datatype: 'json',
                async: false,
                success: function (res) {
                    var data = res.Datas;
                    var class1 = ".pwd-box";
                    if (res.Status == "0" && res.DataStatus == 0) {
                        window.location.href = data.RedirectUrl;
                    }
                    else if (res.DataStatus == 1023) {
                        class1 = ".tel-box";
                        $("#UserPhone").focus();
                    }
                    else if (res.DataStatus == 1002) {
                        class1 = ".tel-box";
                        $("#UserPhone").focus();
                    }
                    else if (res.DataStatus == 1005) {
                        class1 = ".code-box";
                        $("#phoneSmsCode").focus();
                    }
                    //弹出提示的位置
                    if (res.DataStatus != 0) {
                        ShowTips(res.ErrMsg || data.Message, class1);
                    }
                }
            });
        }
        //********************手机验证码登录逻辑 end********************

    </script>

        <script src="//img02.hua.com/pc/js/layerpc/layer.js"></script>
        
            <script type="text/javascript">
            var userId = 0;
            function reqUrlParam(paras) {
                var url = location.href;
                var paraString = url.substring(url.indexOf("?") + 1, url.length).split("&");
                var paraObj = {}
                for (i = 0; j = paraString[i]; i++) {
                    paraObj[j.substring(0, j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=") + 1, j.length);
                }
                var returnValue = paraObj[paras.toLowerCase()];
                if (typeof (returnValue) == "undefined") {
                    return "";
                } else {
                    return returnValue;
                }
            }
            function setLocalStoreHua(k, v) {
                try {
                    if (localStorage != null) {
                        localStorage.setItem(k, v);
                    }
                } catch (ex) { }
            }
            function getLocalStoreHua(k) {
                try {
                    if (localStorage != null) {
                        var v1 = localStorage.getItem(k);
                        localStorage.removeItem(k);
                        return v1;
                    }
                } catch (ex) { }
                return "";
            }
            var lsPerfKey = "home/GetProductListPrice";
            function getProductPrice() {
                var dataPps = "";
                $("span[data-pp]").each(function (index, data) {
                    dataPps = dataPps + $(this).attr("data-pp") + ",";
                })
                if (dataPps.length > 0) {
                    var perf1 = getLocalStoreHua(lsPerfKey);
                    var dts = new Date();
                    $.ajax({
                        type: "POST", url: "/home/GetProductListPrice",
                        data: { itemcodes: dataPps, perf: perf1 },
                        timeout: 60000, dataType: 'json',
                        success: function (res) {
                            if (res.DataStatus == 200 && res.Status == '0') {
                                if (res.Datas.ProductPrices.length == 0) {
                                    return false;
                                }
                                for (var i = 0, len = res.Datas.ProductPrices.length; i < len; i++) {
                                    var temp = res.Datas.ProductPrices[i];
                                    $("span[data-pp='" + temp.ItemCode + "']").text(temp.Price);
                                }
                            }
                            else { }
                        },
                        complete: function (res) {
                            var dte = new Date();
                            var useMs = dte.getTime() - dts.getTime();
                            //var resTxt = "v0,"+res.readyState + "," + res.status + "," + res.statusText;
                            var resTxt = "v0," + res.status + "," + dts.getTime() + "," + useMs;
                            setLocalStoreHua(lsPerfKey, resTxt);
                            //console.log("AjaxReq性能", resTxt);
                        }
                    });
                }
            }
            function setCurUrlClass() {
                // css : class = "color_tj"
                var pathname1 = window.location.pathname;
                $("a[href='" + pathname1 + "'").addClass("color_tj");
            }
            getProductPrice();

            function addHuaPid() {
                try {
                    var path = encodeURIComponent(window.location.pathname);
                    $("a[data-link]").each(function (index, data) {
                        if ($(this).attr("href").indexOf("huaPid=") == -1) {
                            var href = $(this).attr("href") + "?huaPid=" + path + "-" + $(this).attr("data-link");
                            $(this).attr("href", href);
                        }
                    })
                }
                catch (e) {
                    console.log(e);
                }
            }
            addHuaPid();

            $(function () {
                $(".menu-dropdown").hover(function () {
                    $(this).addClass("open");
                }, function () {
                    $(this).removeClass("open")
                })
                $.get("/Home/GetLoginUserId", null, function (data) {
                    userId = data;
                }, "json");

                $("#header-chat,#kefu,#kefu1").click(function (e) {
                    e.preventDefault();
                    //$("#MEIQIA-BTN").click();
                    //_MEIQIA('showPanel');
                    openChatWindow();
                });

                if ($("#pjCount").length > 0) {
                    $.get("/productpj/GetPJCount", function (data) {
                        $("#pjCount").text(data);
                    });
                }
            });
        </script>
            <script>
            $(function () {
                $.ajax({
                    type: "POST",
                    url: "/HuaCtrler/Tel400Config",
                    async: false,
                    success: function (data) {
                        if (data.Datas.OpenTel400) {
                            $(".phone-400").show();
                            $("header .service a").css("border-left", "1px solid #d9d9d9")
                        } else {
                            $(".phone-400").remove();
                        }
                    }
                });
            });
        </script>
    <!--Hua.com统计-->
    <script type="text/javascript">
        function getParameters(paramName) {
            var returnValue = "";
            var kv = location.search.slice(1).split("&");
            for (var i = 0; i < kv.length; i++) {
                var index = kv[i].indexOf("=");
                if (index == -1) {
                    continue;
                }
                var groupParam = kv[i].split("=")
                if (groupParam[0] == paramName) {
                    if (returnValue.length > 0) {
                        returnValue = returnValue + "|" + groupParam[1];
                    } else {
                        returnValue = groupParam[1];
                    }
                }
            }
            return returnValue;
        }
        (function () {
            var locationUrl = location.href;
            var refererUrl = document.referrer;
            if (locationUrl.length > 1500) {
                locationUrl = locationUrl.substring(0, 1500);
            }
            if (refererUrl.length > 100) {
                refererUrl = refererUrl.substring(0, 100);
            }
            var apiurl = "/huactrler/hm?lt=" + (+new Date()) + "&sid=" + getParameters('sid') + "&u_id=" + getParameters('u_id') + "&huaPid=" + getParameters('huaPid');
            apiurl = apiurl + "&url=" + encodeURIComponent(locationUrl) + "&urlreferer=" + encodeURIComponent(refererUrl);
            var img = new Image;
            img.onload = img.onerror = img.onabort = function () { }
            img.src = apiurl;
        })();
    </script>
    <!--百度统计-->
    
    <script type="text/javascript">
        function IEVersion() {
            try {
                var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
                var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1; //判断是否IE<11浏览器
                var isEdge = userAgent.indexOf("Edge") > -1 && !isIE; //判断是否IE的Edge浏览器
                var isIE11 = userAgent.indexOf('Trident') > -1 && userAgent.indexOf("rv:11.0") > -1;
                if (isIE) {
                    var reIE = new RegExp("MSIE (\\d+\\.\\d+);");
                    reIE.test(userAgent);
                    var fIEVersion = parseFloat(RegExp["$1"]);
                    if (fIEVersion == 7) {
                        return 7;
                    } else if (fIEVersion == 8) {
                        return 8;
                    } else if (fIEVersion == 9) {
                        return 9;
                    } else if (fIEVersion == 10) {
                        return 10;
                    } else {
                        return 6;//IE版本<=7
                    }
                } else if (isEdge) {
                    return 'edge';//edge
                } else if (isIE11) {
                    return 11; //IE11
                } else {
                    return -1;//不是ie浏览器
                }
            }
            catch (e) {
                return -1;
            }
        }
        var bVersion = IEVersion();
    </script>
    <!-- Google Tag Manager -->
    <script type="text/javascript">
        try {
            if (bVersion != 8) {
                (function (w, d, s, l, i) {
                    w[l] = w[l] || []; w[l].push({
                        'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                    }); var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-KS4PTHC');
            }
        }
        catch (e) { }
    </script>
    <!-- End Google Tag Manager -->
        <script type='text/javascript'>
           

            function LayerOpen(title, url, wdith, height) {
                layer.open({
                    type: 2,
                    title: title,
                    shadeClose: true,
                    shade: 0,
                    offset: 'rb', //右下角弹出
                    area: [wdith + 'px', height + 'px'],
                    content: url //iframe的url
                });
            }

           
        </script>
            <script type="text/javascript">

        $('#bindModal').on('hidden.bs.modal', function () {
            $("#attBindPage").attr("src", "");
        });
        //绑定窗口操作结束
        var appAuthorizedType = -1;
        if (appAuthorizedType && appAuthorizedType>0) {
            DoBind();
        }
        function DoBind() {
            try {
                $('#consigneeModal').modal('hide');
                $('#loginModal').modal('hide');
                $('#bindModal').modal('show');
                $("#attBindPage").attr('src', '/Passport/Login/WinLoginBind?appAuthorizedType=' + appAuthorizedType)
            }
            catch (err) {
            }
        }

        </script>
</body>
</html>